/* table */

table {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;    
}

table thead {
    vertical-align: middle;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    margin: 0;
    text-align: left;
    padding: 8px 16px;
}

table tbody td {
    text-align: left;
    padding: 8px 16px;
    border-top: 1px solid #ddd;
}
